# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Uu]nityGenerated/
[Ll]ibrary/
[Ll]ogs/
[Bb]uild/
[Bb]uilds/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
.vscode
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
